@import url('https://fonts.googleapis.com/css?family=Raleway:400');

body,header,h1,h5,div,p,section,article,footer{
    margin: 0px;
    padding: 0px;
    padding: 0px;
}

body{
    width: 1280px;
    height: 1937px;

}

/*encabezado - LISTO*/

.rectangulo{
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 73px;
    /* UI Properties */
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}

/*texto encabezado - LISTO*/

.rectangulo h1{
    /* Layout Properties */
    top: 7px;
    left: 530px;
    width: 221px;
    height: 59px;
    padding: 0px;
    margin: 0px;
    /* UI Properties */
    position: relative;
    display: inline-block;
    text-align: center;
    /* font: normal normal medium 50px/59px 'Raleway'; */
    font-style: normal;
    font-variant: normal;
    font-size: 50px;
    line-height: 59px ;
    font-family: 'Raleway';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

/*imagen iguana principal - LISTO*/

.imagen_principal{
    /* Layout Properties */
    top: 73px;
    left: 0px;
    width: 1280px;
    height: 727px;
    /* UI Properties */
    background: transparent url('img/photo-1516008805996-d2abb468cc9a.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

/*seccion de texto y imagen******/

.imagen_doble{
    /* UI Properties */
    padding-top: 100px;
    top: 800px;
    left: 0px;
    width: 1280px;
    height: 348px;
    /* UI Properties */
    text-align: center;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}

.imagen_doble article{
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    
}

/* section.imagen_doble .segundo{}*/

.imagen_doble .segundo p{/*texto, .segundo article*/
    /* Layout Properties */
    top: 876px;
    left: 150px;
    width: 475px;
    height: 197px;
    /* UI Properties */
    /* font: normal normal 300 16px/19px Raleway; */
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px ;
    font-family: 'Raleway';
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    /* position: relative;
    display: inline-block;
    vertical-align:middle; */
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.imagen_doble .imagen1{/*imagen , .tercer article*/
    /* Layout Properties */
    top: 845px;
    left: 731px;
    width: 399px;
    height: 237px;
    /* UI Properties */
    background: transparent url('img/photo-1492963892107-740cd39d9ff3.png') 0% 0% no-repeat padding-box;
    background-position: right;
    opacity: 1;
}

/*seccion iconos*******/

.iconos{
    top: 1141px;
    left: 0px;
    width: 1280px;
    height: 348px;
    background: #1E1A13 0% 0% no-repeat padding-box;
    opacity: 0.98;
    text-align: center;
}

/*titulo de iconos*/

.iconos h2{
    /* Layout Properties */
    top: 1216px;
    left: 464px;
    width: 356px;
    height: 47px;
    margin: 0px;
    /* UI Properties */
    display: inline-block;
    text-align: center;
    /* font: normal normal medium 40px/47px Raleway; */
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    font-family: 'raleway';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;}

/*features de caracteristicas*/

.iconos .ft_1{
    display: inline-block;
    margin: 0px;
    padding-bottom: 3m;
    width: 20em;
    height: 10em;
}
.iconos p{
    font-size: 2em;
    font-weight: 300;
    color:white; /*agregar esto*/
}

.iconos .ft_1 i{
    display: inline-block;
    
    top: 1333px;
    left: 326px;
    width: 57px;
    height: 37px;
    background: 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    opacity: 1;
}
 /*galeria*****************/
.gallery{
    /* Layout Properties */
    top: 1488px;
    left: 0px;
    width: 1280px;
    height: 348px;
    /* UI Properties */
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.96;
    text-align: center;
}

.gallery .caja .photo1, .gallery .caja .photo2, .gallery .caja .photo3{
    display: inline-block;
    margin: 0px;
    padding-bottom: 3m;
    width: 20em;
    height: 10em;
}

.gallery .caja .photo1 .iguana2 {
    display: inline-block;
    top: 1561px;
    left: 150px;
    width: 316px;
    height: 202px;
    background: transparent url('img/photo-1523371153586-b3b8e1782b44.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.gallery .caja .photo2 .iguana3 {
    display: inline-block;
    top: 1561px;
    left: 482px;
    width: 316px;
    height: 202px;
    background: transparent url('img/photo-1511762018950-7ba39019ae85.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    
}
.gallery .caja .photo3 .iguana4 {
    display: inline-block;
    top: 1561px;
    left: 814px;
    width: 316px;
    height: 202px;
    background: transparent url('img/photo-1487252665478-49b61b47f302.png') 0% 0% no-repeat padding-box;
    opacity: 1; 
}

footer{
    /* Layout Properties */
    top: 1835px;
    left: 0px;
    width: 1280px;
    height: 102px;
    /* UI Properties */
    background: #1E1A13 0% 0% no-repeat padding-box;
    opacity: 0.94;
}

footer h5{
    top: 1874px;
    left: 299px;
    width: 682px;
    height: 24px;
    font-variant: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    font-family: 'raleway';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
